/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

/* Styling for diamond background */
.app {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* in case we want to use it again this is still here */
.bg-diamonds {
  background-image: url(./diagmonds-bg.png);
  background-color: #2e2e2e;
  filter: brightness(100%);
  background-repeat: repeat;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar {
  display: none; /* Hide scrollbar in WebKit browsers */
}

.neonText {
  text-shadow: 0 0 8px #fde37f;
}

.purpleNeonText {
  text-shadow: 0 0 15px #682ee6;
}

.buttonDisabled {
  border: 1px solid #393939;
  color: #393939;
}
