@keyframes growAndGlow {
  0% {
    transform: translate(-50px, 0px) rotate(-10deg) scale(0.7);
    filter: drop-shadow(0 0 5px #2B2AD2); /* Starting small glow */
    }
  50% {
    transform: translate(-100px, 0px) rotate(-30deg) scale(0.9);
    filter: drop-shadow(0 0 10px #0000ff); /* Larger glow */
    }
  100% {
    transform: translate(-50px, 0px) rotate(-10deg) scale(0.7);
    filter: drop-shadow(0 0 5px #2B2AD2); /* Back to original */
  }
}

.oscillate {
  animation: growAndGlow 10s infinite ease-in-out;
  will-change: transform, filter;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.spinning-image {
  animation: spin 15s linear infinite;
}

.spinning-image2 {
  animation: spin 180s linear infinite;
  clip-path: circle(100%);
}

.clip-top-half {
  clip-path: polygon(0px 400px, 4000px 400px, 100% calc(100% - 100000px), 0px 0px);
}

html {
  overflow-x: initial !important;
}

.font-900 {
  font-weight: 900 !important;
}

.subtitle {
  /* Subtitle */
  font-size: 58px;
  font-weight: 600 !important;
  line-height: normal;
  letter-spacing: 2.9px !important;
  color: white;
}

.body {
  font-size: 24px;
  font-style: normal;
  font-weight: 700 !important;
  line-height: 25px !important;
  width: 805px;
  color: #D3D3D3;
}

.navbar-text {
  font-size: 14px;
  font-style: normal;
  font-weight: 600 !important;
  line-height: normal;
  text-transform: uppercase;
}
